# config
.config

# MongoDB
MongoDB

# vs & vs code cache
.vs
.vscode

# json files
boolean\ (20*).json
number\ (20*).json
public_course\ (20*).json
taking_course\ (20*).json
user\ (20*).json

# Misc
*.pyc